###########################
#WebStorm Files
###########################
.idea/
*ipr
*.iml

###########################
#NPM Files
###########################
node_modules
npm-debug.log


###########################
#Logs
###########################
logs
*.log


###########################
#Misc Files
###########################
.DS_Store
pids
*.pid
*.seed
lib-cov
coverage
.grunt
build/Release
